asgiref==3.5.2  # channels
colorama==0.4.1  # for colored tracebacks
dj-database-url==1.2.0
Django==3.2.25 
django-vanilla-views==1.0.6
h11  # hypercorn
h2>=3.1.0  # hypercorn
priority  # hypercorn
pytz==2023.3  # Django
termcolor==1.1.0  # used for colored devserver output
toml  # hypercorn
typing_extensions  # hypercorn
whitenoise==6.4.0
wsproto>=0.14.0  # hypercorn
